*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
**/build
/.idea
app/src/main/res/values/developer-config.xml
app/src/androidTest/java/com/mapbox/maps/testapp/activity
sdk/src/androidTest/res/values/developer-config.xml
extension-style-app/src/main/res/values/developer-config.xml
android-auto-app/src/main/res/values/developer-config.xml
sdk/src/main/res/values/developer-config.xml
node_modules/
gh_token.txt
android-docs-repo
examples.zip
release-docs/
release-docs.zip
/tmp/checksum.txt
api_compat_report/
