*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
**/build
/.idea
app/src/main/res/values/developer-config.xml
app/src/androidTest/java/com/mapbox/maps/testapp/activity
**/developer-config.xml
node_modules/
gh_token.txt
android-docs-repo
examples.zip
release-docs/
release-docs.zip
/tmp/checksum.txt
api_compat_report/
logs/
**/src/main/assets/sdk_versions/
